---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note }
  }));
}

const { note } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{note.slug.replace(/[-_]/g, " ")} | Notes</title>
</head>

<body>

<h1>{note.slug.replace(/[-_]/g, " ")}</h1>

<article set:html={note.rendered?.html}></article>

</body>
</html>