---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note }
  }));
}

const { note } = Astro.props;
const { Content } = note.rendered;
---

<h1>{note.data.title}</h1>
<Content />git add .